/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom CSS Below */

h1 {

  font-size: 4em;
  text-align: center;

}

h2{

  font-size: 1.5em;
  text-align: center;

}


.landing_page, .bios{

  font-family: Roboto, Arial, Georgia;

}


#home_body{

  background: url(insteplogotransparent.png);
  background-size: auto auto;
  background-position: center;
  background-repeat: no-repeat;
}

.home_nav{
  margin-top: 10vh;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-bottom: 5vh;
}


@media screen and (min-width: 950px){

  .home_nav{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, auto));
    grid-gap: 1rem;

  }

}

.banner_nav{

  margin-left: 1em;
  margin-right: 1em;

}

@media screen and (min-width: 465px) {


  .banner_nav{

    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: center;
    margin: 0;
    padding: 0;

  }


}



.home_tabs{

  border-radius: 1rem;
  margin: 1em;
  display: flex;
  flex-flow: column;
  font-size: 2em;
  align-self: center;
  text-align: center;
  background: #ededed;

}

.banner_tabs {

  border-radius: 0.5rem;
  display: flex;
  flex-flow: column;
  background: #d1feff;
  font-size: 1.4em;
  align-self: center;
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 0.3em;
  margin-bottom: 0.3em;

}

.box_link{

  text-decoration: none;
  background-color: none;
  color: black;

}

.banner_link{
  
  text-decoration: none;
  background-color: none;
  color: black;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
}

#welcome {

  padding-top: 10vh;
  text-align: center;

}

#landingeventdate {

  padding-top: 1em;
  text-align: center;

}

#intro_text{
  
  padding-top: 2vh; 
  margin-left: 12vw;
  margin-right: 12vw;

}

#landingback{
  

  width: 50vw;
  height: auto;

  display: block;
}

.bio_table{

  display: grid;
  grid-template-columns: 1fr 1fr;

}

@media screen and (max-width: 800px){

  .bio_table{

    grid-template-columns: 1fr;

  } 

}

.faculty_bio{

  border-radius: 1rem;
  margin: 1em;
  display: flex;
  flex-direction: row-reverse;  
  padding 1.5rem;
  background: #ff9999;
  font-size: 1em;
  text-align: center

}

.com_panel{

  border-radius: 1rem;
  margin: 1em;
  display: flex;
  flex-direction: row-reverse;
  padding 1.5rem;
  background: #ff9999;
  font-size: 1em;
  text-align: center

}

#Sally,#Mehdi,#Andy,#Adam{

  background: #ffb3b3;

}

#Vishodana,#Eun,#Shaunti,#Maxx{

  background: #cce0ff;

}

#Tim,#Greta,#Elliot{

  background: #E1E3E1;

}

.faculty_bio > .headshot {

  flex: 1 0 0%;
  text-align: center;

}

.com_panel > .headshot_com{

  flex: 1 0 0%;
  text-align: center;

}

.headshot > img {
  text-align: center;
  width: 80%;
  min-width: 100px
}

.headshot_com > img {
  text-align: center;
  width: 80%;
  min-width: 100px
}


.faculty_bio > .bio_description {

 flex: 2 0 0%;
 text-align: left;
 margin: auto 0;
 margin-left: 0.5em;
}

.com_panel > .bio_description{

 flex: 2 0 0%;
 text-align: left;
 margin: auto 0;
 margin-left: 0.5em;

}

.bio_image{

  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-right: 10vw;
  margin-left: 1em;
  width: 40%;
}

.bio_paragraph{
  
  display: inline-block;
  text-align: left;
  line-height: 3vw;

}


@media screen and (max-width: 800px){

  .bio_paragraph{

    line-height: 6vw;

  }

}

#about_title, #team_title{

  margin-bottom: 2vh;
}

#TQP_abouthead,#IN-STEP_abouthead{

  text-align: left;
  margin-left: 3vw;

}


.about_paragraph{
  padding-right: 7vw;
  padding-left: 5vw;
  padding-top: 1em;
  padding-bottom: 2em;
}


.calendar_desktop{

 display: grid;
 grid-template-columns: repeat(5, 15vw [col-start]);
 grid-template-rows: repeat(8,  [row-start]);
 grid-auto-rows: max-content;
 grid-gap: 0.2em;
 justify-content: center;
 display: none;

}

.calendar_mobile{

  display: block;

}

.calendar_dates{

  text-align: center;
  font-size: 1.5em;

}

.date_cell {
  display: flex;
  background: #b9ff99;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25em;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 10px;
  text-align: center;
}

.blue_event {
  display: flex;
  background: #e6f2ff;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25em;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 10px;
  text-align: center;
}

.yellow_event {
  display: flex;
  background: #ffffe6;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25em;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 10px;
  text-align: center;
}

.orange_event {
  display: flex;
  background: #ffe6b3;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25em;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 10px;
  text-align: center

}

.blank_box{

  background: ffffff;

}

.calendar_text{

  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
}

@media screen and (min-width: 650px) {

  .calendar_desktop{

    display: grid;

  }

  .calendar_mobile{

    display: none;
  }
  
  .calendar_text{

    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;

  }
  
  .blue_event, .yellow_event, .orange_event, .date_cell {
   
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;

  }
}

.resources_links {

  text-align: center;
  padding-bottom: 1em;

}

#welcome{
  font-size: 4em;

}

#registration_link{

  text-align: center;
  font-size: 1.5em;
  padding-bottom: 1em;
}

.session_descriptions{
  margin-left: 1.5vw !important;
  margin-right: 4vw !important;
}

.session_heading{
  text-align: left;
  margin-left: 1vw;
}

.sessions{
  padding-top: 1em;
  
}

#session_intro_head{

  margin-top: 3vh;

}

#sankey_basic{

  display: none;

}

#sankey_alt{

  color: #3CBD22;
  text-align: center;
}

@media screen and (min-width: 900px) {


  #sankey_basic{

    display: block;

  }

  #sankey_alt{

    display: none;

  }

}


.headshot_com{

  display: none;

}
@media screen and (min-width: 720px){


  .headshot_com{ display: block;

  }

}

#instep_logo{

  height: 25vw;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 770px){

  #instep_logo{

    height: 15vw;
    width: auto;


}
